
<!-- JAVASCRIPT -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- Pace -->
  <script src="/js/pace/pace.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Device JS -->
  <script src="/js/devicejs/device.min.js"></script>
  <!-- SmoothScroll -->
  <script src="/js/smoothscroll/jquery.smooth-scroll.min.js"></script>
  <!-- Flexslider -->
  <script src="/js/flexslider/jquery.flexslider-min.js"></script>
  <!-- Waypoint -->
  <script src="/js/waypoint/jquery.waypoints.min.js"></script>
  <!-- DoubleTapToGo -->
  <script src="/js/jquery-ui-widget/jquery.ui.widget.min.js"></script>
  <script src="/js/jquery-doubletaptogo/jquery.dcd.doubletaptogo.min.js"></script>
  <!-- Stellar -->
  <script src="/js/stellar/jquery.stellar.min.js"></script>
  <!-- Masonry -->
  <script src="/js/masonry/masonry.pkgd.min.js"></script>
  <!-- Countdown -->
  <script src="/js/countdown/jquery.plugin.min.js"></script>
  <script src="/js/countdown/jquery.countdown.min.js"></script>
  <!-- Magnific Popup -->
  <script src="/js/magnific-popup/jquery.magnific-popup.min.js"></script>
  <!-- Owl Carousel  -->
  <script src="/js/owlcarousel/owl.carousel.min.js"></script>
 
  <!-- Custom Core Script -->
  <script type="text/javascript" src="/js/script.min.js"></script>
  <!-- Custom Additional Script -->
  <script type="text/javascript" src="/js/main-slider-fade.js"></script>