<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">G&ampS</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent" aria-controls="navBarContent"
    aria-expanded="false" aria-label="toggle">
            <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-expand-lg" id="navBarContent">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Venue</a>
    </div>
  </div>
</nav>


<div class="jumbotron jubotron-fluid">
  <div class="container">
    <h1 class="display-3">George &amp Sara</h1>
    <p class="lead">We're Getting Hitch, join #teambeechhaus for our party!</p>
  </div>
  <div id="carouselPictures" class="carousel slide">
    <div class="carousel-inner">
      {% for image in site.static_files %} {% if image.path contains 'images/carousel' %} {% unless first_loop %}
      <div class="carousel-item img-fluid active">
        <img class="d-block w-100 h-50" src="{{ image.path }}" alt="Slide">
      </div>
      {% assign first_loop = true %} {% continue %} {% endunless %}
      <div class="carousel-item img-fluid">
        <img class="d-block w-100 h-50" src="{{ image.path }}" alt="Slide">
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
  <script type="text/javascript">
    $('#carouselPictures').carousel();
  </script>
</div>