<nav class="navbar sticky-top navbar-toggleable-sm navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">G&ampS</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent" aria-controls="navBarContent"
    aria-expanded="false" aria-label="toggle">
                  <span class="navbar-toggler-icon"></span>
        </button>
  <div class="navbar-expand-sm" id="navBarContent">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/venue">Venue</a>
      <a class="nav-item nav-link" href="/registry">Registry</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{site.url}}" id="socialMediaMenu" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
              Social Media
            </a>
        <div class="dropdown-menu" aria-labelledby="socialMediaMenu">
          <a class="dropdown-item" href="/social/twitter">Twitter</a>

        </div>
      </div>
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/rsvp">RSVP!</a>
      </div>
      
    </div>
    
  </div>
</nav>