<header id="nav-header">
  <nav id="nav-bar" class="top-bar fluid-width transparent nav-center hide-logo-on-desktop sticky-nav stick-it">

    <div id="nav-wrapper">
      <div class="logo-wrapper">
        <div class="nav-logo">G
          <span class="theme-color">+</span>S
        </div>
      </div>

      <div id="mobile-nav">
        <i class="de-icon-menu"></i>
      </div>
      <ul id="nav-menu">
        <li>
          <a href="/index.html">HOME</a>
        </li>
        <li>
          <a href="/info/our-story.html">OUR STORY</a>
        </li>
        <li>
          <a href="#">WEDDING</a>
          <ul>
            <li>
              <a href="/info/location.html">Location</a>
            </li>
            <li>
              <a href="/info/bridal-party.html">Bridal party</a>
            </li>
            
          </ul>
        </li>
        <li>
          <a href="/registry.html">REGISTRY</a>
        </li>
        <li>
          <a href="/rsvp.html">RSVP</a>
        </li>
      </ul>
      <div class="clearboth"></div>
    </div>
  </nav>
</header>