@media (min-width: 1200px) {
    .container {
      width: 970px;
    }
    .jumbotron {
        padding: 5px;
    }

    .less-pad {
        padding: 5px;
    }

    //.carousel-image-resize {
    //    max-width: 75%;
    //    max-height: 75%;
    //    width: auto;
    //    height: auto;
    //}
  }

.bg-green {
    background-color: #15BA84 !important;
}

.card-header {
    background-color: #FCDBD4;
}
.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.card-header-tabs .nav-item .nav-link {
    color: #000000;
}

.btn-primary {
    background-color: #BCCAB3;
    border-color: #BCCAB3;
}

.btn-outline-info {
    border-color: #BCCAB3;
    color: #BCCAB3;
}
.btn-outline-info a:hover {
    background-color: #BCCAB3;
}

.btn-outline-info a {
    color: #000000;
    
}

