
.our-name{
	font-family: 'Great Vibes', cursive; 
  font-size:95px;
  padding: 50px;
}
.and-name{
	font-family: 'Great Vibes', cursive; 
	font-size:54px; 
	margin-top:30px;
}

.section-block {
  padding: 150px 0;
}

.content-block{
  padding: 150px 0;
}
