.our-name {
  font-family: 'Great Vibes', cursive;
  font-size: 95px;
  padding: 50px;
}

.and-name {
  font-family: 'Great Vibes', cursive;
  font-size: 54px;
  margin-top: 30px;
}

.bridal-party {
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
}

.bridal-party-title {
  font-family: 'Great Vibes', cursive;
  font-size: 24px;
}

.section-block {
  padding: 150px 0;
}

.content-block {
  padding: 150px 0;
}

.honor-border {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.map-canvas-600 {
  height: 600px;
  width: 100%;
}

.map-canvas-450 {
  height: 450px;
  width: 100%;
}

.map-canvas-650 {
  height: 650px;
  width: 100%;
}