<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<body>
  {% include nav.html %}
  <section id="content">


    <section id="top-photo" class="section-block more-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="our-name">George
              <span class="and-name">and</span> Sara</h4>
          </div>
        </div>
        <div class="row">
          <div class="photo-item animation fadeIn">
            <div class="col-md-6 gallery-item animation fadeInUp text-center">
              <div class="photo-item animation fadeIn">
                <img src="/assets/images/Image4.png" alt="George and Sara" class="hover-animation image-zoom-in">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-center">
              <h2 class="h4 animation fadeInUp">We are getting Married!</h2>
              <p class="intro-text animation fadeInUp">
                We look forward to spending the day with our friends and family, celebrating our wedding.
              </p>                                   

                <div id="countdown" class="countdown circle-countdown animation fadeInUp"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="day-of-schedule" class="section-block">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 text-center">
                    <h3 class="animation fadeInUp">Wedding Day Schedule of Events</h3>
                </div>
           </div>
        	<div class="row">
            	<div class="col-md-offset-1 col-md-10 text-center">
                    <p class="animation fadeInUp">
                    We can't wait to celebrate our day with you. Please see below for details on all of our festivities!
                    </p>
                </div>
           </div>
           <div class="row">
            	<!-- ITEM-1 -->
                <!-- =================================================================== -->
                <div class="col-md-4 col-sm-4 wedding-item-wrapper">
                  <h4>Before The Ceremony</h4>
                  <table class="table table-condensed borderless">
                  <tr>
                    <td><b>3:00PM</b></td>
                    <td>Shuttle Leaves from Hotel</td>
                  </tr>
                  <tr>
                    <td><b>3:15PM</b></td>
                    <td>Venue open to Guests</td>
                  </tr>
                </table>
                 
                  <span class="text-center" style="font-size:0.9em; font-weight:bolder;">Parking:</span><br>
                  <div class="text-center" style="font-size:0.8em; line-height:1.0 !important">
                  Street parking is available on High Street and 1st Street. Please use the entrance on the 1st Street side. There is a pathway that leads to the garden behind the stonewall with the Brasenhill sign.
                  </div>
              	</div><!-- END of ITEM-1 -->
                            
                            
               	<!-- ITEM-2 -->
                <!-- =================================================================== -->
                <div class="col-md-4 col-sm-4 text-center wedding-item-wrapper">
                  <div class="handwriting-title" style="padding-top:10%">The Ceremony</div>
                  <h4 class="text-center" style="letter-spacing:6px; margin-top:30px">4:00 PM</h4>

              	</div><!-- END of ITEM-2 -->
                
                
                <!-- ITEM-3 -->
                <!-- =================================================================== -->
                <div class="col-md-4 col-sm-4 wedding-item-wrapper">
                
                  <h4>The Party and Beyond!</h4>
                  <table class="table table-condensed borderless">
                  <tr>
                    <td><b>4:30 PM</b></td>
                    <td> Cocktail Hour</td>
                  </tr>
                  <tr>
                    <td><b>6:00-10:00PM</b></td>
                    <td> Dinner, Dancing, Fun</td>
                  </tr>
                  <tr>
                    <td><b>10:00PM</b></td>
                    <td>Shuttle Returns to Hotel</td>
                  </tr>
                  <tr>
                    <td><b>10:30PM - ???</b></td>
                    <td> Party at the Hotel/Casino</tr>
                  </tr>
                </table>
              	</div><!-- END of ITEM-3 --> 
            </div>
        </div>            	
    </section>
    
  </section>
{% include footer.html %}
</body>

