<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}

<body>
  {% include nav.html %}
  <section id="content">


    <section id="top-photo" class="section-block more-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="our-name">George
              <span class="and-name">and</span> Sara</h4>
          </div>
        </div>
        <div class="row">
          <div class="photo-item animation fadeIn">
            <div class="col-md-6 gallery-item animation fadeInUp text-center">
              <div class="photo-item animation fadeIn">
                <img src="/assets/images/Image4.png" alt="George and Sara" class="hover-animation image-zoom-in">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-center">
              <h2 class="h4 animation fadeInUp">We are getting Married!</h2>
              <p class="intro-text animation fadeInUp">
                We look forward to spending the day with our friends and family, celebrating our wedding.
              </p>                                   

                <div id="countdown" class="countdown circle-countdown animation fadeInUp"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

</body>