<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<body>
  {% include nav.html %}
  <section id="content">


    <section id="top-photo" class="section-block more-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="our-name">George
              <span class="and-name">and</span> Sara</h4>
          </div>
        </div>
        <div class="row">
          <div class="photo-item animation fadeIn">
            <div class="col-md-6 gallery-item animation fadeInUp text-center">
              <div class="photo-item animation fadeIn">
                <img src="/assets/images/Image4.png" alt="George and Sara" class="hover-animation image-zoom-in">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-center">
              <h2 class="h4 animation fadeInUp">We are getting Married!</h2>
              <p class="intro-text animation fadeInUp">
                We look forward to spending the day with our friends and family, celebrating our wedding.
              </p>                                   

                <div id="countdown" class="countdown circle-countdown animation fadeInUp"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="day-of-schedule" class="section-block">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 text-center">
                    <h3 class="animation fadeInUp">Wedding Day Schedule of Events</h3>
                </div>
           </div>
        	<div class="row">
            	<div class="col-md-offset-1 col-md-10 text-center">
                    <p class="animation fadeInUp">
                    We can't wait to celebrate our day with you. Please see below for details on all of our festivities!
                    </p>
                </div>
           </div>
           <div class="row">
            	<!-- ITEM-1 -->
                <!-- =================================================================== -->
                <div class="col-md-4 col-sm-4 wedding-item-wrapper">
                  <h4>Before The Ceremony</h4>
                  <b>3:00PM</b> Shuttle Leaves from Hotel<br>
                  <b>3:15PM</b> Venue open to guests<br>
              	</div><!-- END of ITEM-1 -->
                            
                            
               	<!-- ITEM-2 -->
                <!-- =================================================================== -->
                <div class="col-md-4 col-sm-4 text-center wedding-item-wrapper">
                  <div class="handwriting-title" style="padding-top:10%">The Ceremony</div>
                  <h4 class="text-center" style="letter-spacing:6px; margin-top:30px">4:00 PM</h4>

              	</div><!-- END of ITEM-2 -->
                
                
                <!-- ITEM-3 -->
                <!-- =================================================================== -->
                <div class="col-md-4 col-sm-4 wedding-item-wrapper">
                  <h4>The Party and Beyond!</h4>
                  <b>4:30 PM</b> Cocktail Hour<br>
                  <b>6:00-10:00PM</b> Dinner, Dancing, Fun<br>
                  <b>10:00PM</b>Shuttle Returns to Wedding Hotel<br>
                  <b>10:30PM - ???</b> Party at the Hotel/Casino</br>
              	</div><!-- END of ITEM-3 --> 
            </div>
        </div>            	
    </section>
    
  </section>
{% include footer.html %}
</body>

